.wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 400px ;
  gap: 30px;
}

.block {
  border: 1px solid;
  border-color: olivedrab;
  border-radius: 5px;
  padding: 15px;
}

.title {
  color: olivedrab;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}